@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .wrapper{
        @apply container mx-auto px-4 sm:px-6 lg:px-8 w-11/12;
    }
    
    
}
.slick-slide{
    margin: 0 0.7rem;
}

.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
    left: 18px;
    z-index: 99;
    top: 9.5rem;
}
.slick-next {
    right: 35px;
    top: 9.5rem;
}